.auth-form-container{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin:auto;
    padding: 15px;
    box-sizing: border-box;
}
.auth-form-container .text-input-label{
    display: block;
    margin-bottom: 5px;
}
.form-group{
    margin-bottom: 15px;
}
.auth-form-container .text-input,
.auth-form-container .locations{
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    border:1px solid black
}
.w-100{
    width: 100%;
}
.mb-15{
    margin-bottom: 15px;
}
.btn{
    display: block;
    font-size: 16px;
    height: 35px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.btn-primary{
    background-color: blueviolet;
    color: white;

}
.btn-link{
    text-decoration: none;
    line-height: 35px;
    color: blue;
}
.btn-linke:hover{
    text-decoration: underline;
}
/* .submit-button{
    display: block;
    width: 100%;
    height: 35px;
    background-color: blueviolet;
    border: 0;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
} */
.reset-pass-link{
    display: block;
    text-align: center;
    font-size: 12px;
}
.sex-container{
    display:inline-block;
}